<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの診断結果は…</p>
</div>
<div class="perfume-container">
  <% if @dominant_type.present? %>
    <% case @dominant_type %>
    <% when :視覚型 %>
      <h3>視覚型タイプ</h3>
      <p>ここには何か自由に記述入れよう※任意</p>
    <% when :聴覚型タイプ %>
      <h3>あなたは聴覚型です</h3>
      <p>ここには何か自由に記述入れよう※任意</p>
    <% when :運動感覚型タイプ %>
      <h3>あなたは運動感覚型です</h3>
      <p>ここには何か自由に記述入れよう※任意</p>
    <% end %>
  <% else %>
    <p>診断結果が見つかりませんでした。もう一度試してください。</p>
  <% end %>
</div>
